@import url(https://fonts.googleapis.com/css?family=Square+Peg:regular);
@import url(https://fonts.googleapis.com/css?family=Kulim+Park:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background: #fbfbfb;
    max-width: 100%;
}

@media (min-width: 33em){
    .card-list{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 38em){
    .card-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-afholdte-events{
        grid-column: span 1 /-1!important;
        grid-row: span 2 / 1!important;
    }
}
@media (min-width: 54em){
    .card-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-afholdte-events{
        grid-column: span 1 /-1!important;
        grid-row: span 2 / 1!important;
    }
}

@media (min-width: 80em){
    .card-list{
        grid-template-columns: repeat(5, 1fr);
    }
    .card-afholdte-events{
        grid-column: span 1 /-1!important;
        grid-row: span 2 / -1!important;
    }
}

.card-list {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.row-span-2{
    grid-row: span 2;
}

.card-list .card-item {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    text-decoration: none;
    border: 2px solid #6b722F;
    transition: border 0.5s ease;
}


.card-title{
    background-color: #6b722F;
    color: #fbfbfb;
    padding: 0.5em;
    height: 7rem;
}

.card-content{
    padding: 0.5em;
}
a{
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.link-hvid {
    color: #fbfbfb !important;
    font-style: italic;
}

.link-hvid:hover{
    cursor: pointer;
    text-decoration: underline;
}

.link {
    color: #6b722F;
}

.card-item img{
    max-width: 100%;
    border-radius: 0 0 8px 8px;
}

.card-afholdte-events{
    background-color: #6b722F;
    color: #fbfbfb;
    border-radius: 8px;
}
.blomst-lille{
    height: 2rem;
    width: auto;
    margin: 0 1.5rem 0 1.5rem;
}
.title-afholdte-events{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-afholdte-events h3{
    margin:0.5 0 0.4 0.8!important;
}