*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: auto;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'footer footer footer footer';
    background-color: chocolate;
    gap: 10px;
}

h1{
    font-family: 'Square Peg';
}

h2{
    font-family: 'Kulim park';
}

header{
    grid-area: header;
    background-color: #6B722F;
    height: 153px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: white;
    font-family: ;
}

main{
    grid-area: main;
    background-color: blue;
}


footer{
    grid-area: footer;
    background-color: blueviolet;
}

