@import url(https://fonts.googleapis.com/css?family=Square+Peg:regular);
@import url(https://fonts.googleapis.com/css?family=Kulim+Park:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic);

/*mobil*/
*{
    box-sizing: border-box;
    margin: 0;
}

html{
    width: 100%;
}

.grid-col-4{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

h1{
    font-family: 'square peg';
    color: #6b722F;
    font-size: 5rem;
    font-weight: 500;
}
.section-title-white{
    font-family: 'square peg';
    color: #FBFBFB;
    font-size: 5rem;
    font-weight: 500;
}
h2 {
    font-family: 'square peg';
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin: 0.8rem;
}

h3 {
    font-family: 'kulim park';
    font-weight: 400;
    margin: 0.8rem;
}


h4 {
    font-family: 'kulim park';
    font-weight: 400;
    text-align: left;
    margin: 0.8rem;
}

h5{
    font-family: 'kulim park';
    font-weight: 300;
    text-align: left;
    margin-left: 0.8rem;
}

p {
    font-family: 'kulim park';
    font-weight: 300;
    padding:0.4rem 1rem 0.4rem 1rem;
}

/*section classes*/
.bg-white-font-black{
    background-color: #FBFBFB;
    color: black;
}

.bg-white-font-black h1{
    color: #434910;

}

.bg-green-font-white{
    background-color: #6B722F;
    color: #FBFBFB;
}


/*--------header---------*/
header{
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #6B722F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
}



/*dropdown*/
@media (max-width:63rem){
.dropbtn {
    background-color: #6B722F;
    color: #FBFBFB;
    font-size: 4em;
    border: none;
    cursor: pointer;
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6B722F;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    overflow: visible;
}
  
.dropdown a{
    display: block;
}
.nav-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-menu li{
    padding: 30px 45px;
}
.logo{
    height: 4.7rem;
    width: 5rem;
    background-image: url(Grafik/logo_mobil.png);
    z-index: 20!important;
}
}

@media (min-width:63rem){
    .nav-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-menu li{
        text-align: left;
        padding: 0 1rem 0 1rem;

    }
    .nav-menu a{
        font-size: 2rem;
    }
    .dropbtn{
        display: none;
    }
    .logo{
        height: 5rem;
        width: 15rem;
        background-image: url(Grafik/logo-desktop-lille.png);
        background-position: 0;
        background-repeat: no-repeat;
        z-index: 20!important;
    }
}


.nav-menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.nav-menu li a{
    font-size: x-large;
    font-family: 'Kulim Park';
    color: #fbfbfb;
    text-decoration: none;
}
.nav-menu li{
    list-style-type: none;
}
.nav-active{
    color: #f7bf58!important;
}
   
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*main*/
main{
    grid-area: main;
}

/*footer*/
footer{
    grid-area: footer;
    background-color: #6B722F;
    color: #FBFBFB;
    text-align: center;
    
}

footer .bg-green-font-white{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
}

footer h1{
    padding-top: 40px;
}

footer ul li{
    list-style-type: none;  
}

footer ul li a{
    float: left;
    color: #FBFBFB;
    text-decoration: none;
    display: block;
    font-size: x-large;
    font-family: 'Kulim Park';
    font-weight: bold;
    padding-top: 10px;
}

footer img{
    padding-top: 20px;
}
#sponsors{
    padding-top: 2rem;
}


