*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: auto auto 100px;
    grid-template-columns: auto;
    grid-template-areas: 
    'header header header header header header header header'
    'main main main main main main main main'
    'footer footer footer footer footer footer footer footer';
    background-color: chocolate;
}

h1{
    font-family: 'square peg';
    font-size: 4em;
    font-weight: lighter;
}

h2{
    font-family: 'kulim park';
    font-weight: lighter;
}

p{
    font-family: 'kulim park';
}

/*section classes*/
.bg-white-font-black{
    background-color: #FBFBFB;
    color: black;
}

.bg-white-font-black h1{
    color: #434910;

}

/*header*/
header{
    grid-area: header;
    background-color: #6B722F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* dropdown menu */
/* Dropdown Button */
.dropbtn {
    background-color: #6B722F;
    color: #FBFBFB;
    font-size: 4em;
    border: none;
    cursor: pointer;
  }

/*The container <div> - needed to position the dropdown content
.dropdown{
}*/
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6B722F;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    overflow: visible;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: #FBFBFB;
    padding: 30px 45px;
    text-decoration: none;
    display: block;
    font-size: x-large;
    font-family: 'Kulim Park';
    font-weight: bold;
}
   
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

main{
    grid-area: main;
}

#sec-welcome{
    text-align: center;
}

#sec-welcome video{
    height: 360px;
    width: 400px;
}

#sec-welcome h1{
    padding: 20px;  
}

#sec-welcome h2{
    padding: 20px;
}

#sec-welcome p{
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: aqua;
}


